.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-title {
    font-family: 'font1', sans-serif;
    h1 {
        font-size: 11cqw;
    }

    h2 {
        font-size: 6cqw;
        margin-top: -7cqw;
    }
}

