<div class="body">
    <app-title-container>
        <img bg src="assets/backdrops/performer.jpg" alt="Example"/>
        <div text class="about-title">
            <h1 class="name">Lunar Lion Dance</h1>
            <h2>Performer</h2>
        </div>
    </app-title-container>

    <app-title-container>
        <img bg src="assets/backdrops/founder.jpg" alt="Example"/>
        <div text class="about-title">
            <h1 class="name">Lunar Lion Dance</h1>
            <h2>Non-profit Founder</h2>
        </div>
    </app-title-container>
</div>