@font-face {
  font-family: 'font1';
  src: url('assets/fonts/RusillaSerif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background-color: #101414;
    color: #fef6eb;
    justify-content: center;
}

.body-item {
    max-width: 950px;
    height: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #fef6eb;
}

@media (max-width: 980px) { 
    .body-item {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        max-width: calc(100% - 3rem);
    }
}

.row {
    display: flex;
    align-items: center;
}

.line {
    flex-grow: 1;
    margin-top: 1rem;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #3c434d;
    margin-top: 0;
}

.backdrop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center;
    display: block;      
    
}

.backdrop-img.left {
    object-position: left center;
}

.right {
    margin-left: auto;
}

.skill {
    display: inline-block;
    border-radius: 100px;
    padding: 0 1vw;
    height: min-content;
    width: max-content;
    background-color: #ffa9f8;
    color: #000;
    cursor: default;
}